/* MIXINS
============================================================================= */
// Third-party
@import "font-sizes";
@import "compass/css3";

/* VARIABLES
============================================================================= */
/* teal */
$sk-navigation-color: #0ca4e0;
$sk-navigation-hover: #eee;
$sk-button-hover: #0678A5;
$sk-button-active: #085E80;
/* american flag blue */
$sk-bubble-color: #00348c;
/* sea green */
$sk-bubble-hover-color: rgb(145, 219, 145);
$sk-legend-hover-background: rgba(145, 219, 145, 0.2);

$sk-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;