/* app css stylesheet */

/* BASIC
============================================================================= */
html, body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.sk-container {
    margin: 0 20px;
}

.career-selector {
    text-align: center;
}

.sk-page-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    /*visibility: hidden;*/
    overflow: hidden;
    background-color: white;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.sk-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* NAVIGATION
============================================================================= */
.sk-navbar-background {
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
}

.sk-navbar {
    height: 50px;
    position: relative;
}

/* height must equal 50px */
.sk-navbar-header {
    display: inline-block;
    float: left;
    padding: 15px 15px 15px 0;
    font-size: 18px;
    line-height: 20px;
}

.sk-navbar-options {
    height: 50px;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

.sk-navbar-options li {
    float: left;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 20px;
}

/* height must equal 50px */
.sk-navbar-options li > a {
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px;
}  

.sk-navbar-options li > a:hover {
    background-color: #eee;
}  

.sk-navbar-link {
    text-decoration: none;    
} 

.sk-navbar-link:visited {
    text-decoration: none;    
} 

/* SELECTOR
============================================================================= */
.sk-career-selector {
    padding: 20px 0;
    display: table;
    text-align: center;
}

.sk-career-selector-content {
    display: table-row;
}

.sk-overflow-table-cell {
    /* does not include margin or padding. Height of multiselect
    with 3 rows of careers selected (4 careers per row) on a typical  
    laptop is 113px. Add 2px so scrollbar does not appear for 3 rows. */
    max-height: 115px;
    overflow: auto;
}

.sk-multi-select-container {
    min-width: 450px;
}

.sk-button-container, .sk-multi-select-error {
    padding-left: 0.5rem;
}

.sk-multi-select-error {
    color: red;
}

/* CHART
============================================================================= */

/* .sk-career-selector has a total height of 172px */
.sk-career-visualizer-container {
    position: absolute;
    top: 154px;
    right: 0;
    bottom: 0;
    left: 0;
}

.sk-career-visualizer {
    width: 100%;
    height: 100%;
}

.sk-chart-svg {
    width: 100%;
    height: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.label {
    text-anchor: middle;
}

.axis text, .label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.chart {
    background-color: white;
}

.sk-data-point {
    fill: #00348c;
}

.sk-data-point:hover {
    fill: black;
}

/* TOOLTIP
============================================================================= */
.sk-tooltip {
    width: 400px;
    line-height: 1;
    padding: 12px;
    background: white;
    border: 2px solid #6D6D6D;
    box-shadow: 1px 1px 2px #808080;
    -webkit-box-shadow: 1px 1px 2px #808080;
    color: black;
    border-radius: 2px;
}

.sk-tooltip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: lightgrey;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.sk-tooltip-label {
  opacity: 0.8;
}

.sk-tooltip-data {
  font-weight: bold;
  opacity: 1;
}

.sk-career-name {
  width: 100%;
  /* override h4 styling */
  margin-top: 4px;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}

/* LEGEND
============================================================================= */
#sk-legend-link {
    font-size: 2rem;
}

#sk-legend-link:hover {
    background-color: black;
    color: white;
}

#sk-legend-border {
    border: 1px solid black;
    fill: red;
}

.sk-legend-wrapper {
    float: left;
}

.sk-legend-content {
    width: 400px;
}


.sk-legend-header {
    display: block;
    text-align: center;
    /* override h4 margin settings in font-sizes.css */
    margin: 0.5rem 0;
}

/* ANIMATIONS
============================================================================= */

.ng-enter { 
    -webkit-animation: fadeIn 0.5s ease-in; z-index: 8888; 
}
.ng-leave { 
    -webkit-animation: fadeOut 0.5s ease-out; z-index: 8887; 
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; -webkit-transform: translateX(100%); }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; -webkit-transform: translateX(100%); }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { }
    to { opacity: 0; -webkit-transform: translateX(-100%); }
}
@keyframes fadeOut {
    from { }
    to { opacity: 0; -webkit-transform: translateX(-100%); }
}
