<!-- choose career -->
<section class="sk-career-selector sk-fade" ng-class="{'sk-in': careerNamesLength}">
    <div class="sk-career-selector-content">
        <div class="sk-multi-select-container sk-table-cell">
            <div class="sk-overflow-table-cell">
                <!-- Multi-select -->
                <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedCareerNames"></select>
            </div>
        </div>
        <div class="sk-button-container sk-table-cell">
            <button class="sk-button" ng-class="{'sk-button-clicked': selectedButton === 'chart'}" ng-click="compare(); selectedButton = 'chart'" ng-disabled="selectedCareerNames.length < 2 || selectedCareerNames.length > 5">Chart</button>
            <button class="sk-button" ng-disabled="selectedCareerNames.length < 1" ng-click="resetSelected()">Reset</button>
            <!-- uncomment below when browse functionality exists -->
            <!-- &nbsp; &nbsp; -->
            <!-- <button k-button class="k-button" ng-click="browse()">Browse</button> -->
            <button class="sk-button" kendo-tooltip="legendTip" k-options="legendTipOptions" ng-disabled="isLegendButtonDisabled && (selectedCareerNames.length < 2 || selectedCareerNames.length > 5)" ng-click="isLegendShown = true; chartLegend.center().open()">Legend</button>
        </div>
        <div class="sk-button-container sk-preselected-searches sk-table-cell" kendo-tooltip="preselectedTip" k-options="preselectedTipOptions">
            <!-- <span class="sk-preselected-searches-header">Preselected Searches</span> -->
            <button class="sk-button" ng-class="{'sk-button-clicked': selectedButton === 'topPaying'}" ng-click="compareTopPaying(); selectedButton = 'topPaying'">Highest Paying</button>
            <button class="sk-button" ng-class="{'sk-button-clicked': selectedButton === 'fastestGrowing'}" ng-click="compareFastestGrowing(); selectedButton = 'fastestGrowing'">Fastest Growing</button>
            <button class="sk-button" ng-class="{'sk-button-clicked': selectedButton === 'random'}" ng-click="compareRandom(); selectedButton = 'random'">I Feel Lucky</button>
        </div>
    </div>
    <div class="sk-multi-select-error" ng-show="selectedCareerNames.length > 5">
        Please select less than 5 careers.
    </div>
    <div class="sk-legend-wrapper" ng-show="isLegendShown">
        <div kendo-window="chartLegend" k-title="'Legend'" k-visible="false" k-on-open="chartLegendVisible = true" k-on-close="chartLegendVisible = false">
            <div class="sk-legend-content k-content" kendo-tab-strip k-options="tabStripOptions">
                <!-- tab list -->
                <ul>
                  <li class="k-state-active">Career Names</li>
                  <li>Bubbles</li>
                </ul>
                <div class="sk-legend-careers">
                   <ul>
                     <div class="sk-legend-career" ng-class="{'sk-highlight-career': highlightCareer}" career-num="{{careerNum}}" ng-mouseover="addHighlight(careerNum); showCareerInfo = true; highlightCareer = true;" ng-mouseout="removeHighlight(careerNum); showCareerInfo = false; highlightCareer = false;" ng-repeat="(careerNum, career) in selectedCareersData | orderBy:'career_name'">
                        <span class="sk-legend-career-name">{{career.career_name}}</span>
                        <div class="sk-legend-career-info" ng-show="showCareerInfo">
                            <div>
                                <span class="sk-tooltip-label">People employed: </span><span class="sk-tooltip-data">{{career.career_2012_emp*1000 | number}}</span>
                            </div>
                            <div>
                                <span class="sk-tooltip-label">Expected change in demand: </span><span class="sk-tooltip-data">{{career.career_percent_emp_change}}%</span>
                            </div>
                            <div>
                                <span class="sk-tooltip-label">Annual wage: </span><span class="sk-tooltip-data">${{career.career_med_ann_wage | number}}</span>
                            </div>
                        </div>
                     </div>
                   </ul>
                </div>
                <div sk-legend-bubbles class="sk-legend-bubbles">
                </div>
           </div>
        </div>
    </div>
</section>

<!-- chart results -->
<section class="sk-career-visualizer-container sk-fade" ng-class="{'sk-in': selectedCareersData.length}">
    <div sk-ep-chart selected-careers-data="selectedCareersData" class="sk-career-visualizer">
    </div>
</section>