<!-- choose career -->
<!-- <div sk-legend-bubbles style="min-height:300px;">
</div> -->
<section class="sk-career-selector sk-fade" ng-class="{'sk-in': careerNamesLength}">
    <!-- <h3>Finding a good career is hard.</h3> -->
    <!-- <h4>Let Career Buddy help choose the best career for you.</h4> -->
    <div class="sk-career-selector-content">
        <!-- <div class="sk-tooltip-selector-parent"> -->
            <div class="sk-multi-select-container sk-table-cell">
                    <div class="sk-overflow-table-cell">
                        <!-- Multi-select -->
                        <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedCareerNames"></select>
                    </div>
            </div>
        <!-- </div> -->
        <!-- <div class="sk-tooltip-selector-parent"> -->
            <div class="sk-button-container sk-table-cell">
                <button id="chartTip" class="sk-button" ng-disabled="selectedCareerNames.length < 2 || selectedCareerNames.length > 20" ng-click="compare()">Chart</button>
                <button class="sk-button" ng-disabled="selectedCareerNames.length < 2 || selectedCareerNames.length > 20" ng-click="chartLegend.center().open()">Legend</button>
                <!-- uncomment below when browse functionality exists --> 
                <!-- &nbsp; &nbsp; -->
                <!-- <button k-button class="k-button" ng-click="browse()">Browse</button> -->
            </div>
            <div class="sk-table-cell sk-multi-select-error" ng-show="selectedCareerNames.length > 20">
                Please select less than 20 careers. Too many careers won't look good on the chart!
            </div>
        <!-- </div> -->
            
    </div>
    <div class="sk-tooltip-selector-parent">
        <div class="sk-tooltip-selector" ng-show="showWelcomeTip">Welcome to Career Buddy, the app that helps you find the perfect career for you.</div>
        <div class="sk-tooltip-selector" ng-show="showChartTip">When you've selected at least 2 careers, click the "Chart" button to compare them.</div>
    </div>
    <div class="sk-legend-wrapper">
        <div kendo-window="chartLegend" k-title="'Legend'" k-visible="false" k-on-open="chartLegendVisible = true" k-on-close="chartLegendVisible = false">
            <div class="sk-legend-content k-content" kendo-tab-strip k-options="tabStripOptions">
                <!-- tab list -->
                <ul>
                  <li class="k-state-active">Career Names</li>
                  <li>Bubbles</li>
                </ul>
               <div class="sk-legend-careers">
                   <ul>
                     <div class="sk-legend-career" ng-repeat="(careerNum, career) in selectedCareersData">
                        <span class="sk-legend-career-id">{{alphabet[careerNum]}}: </span><span class="sk-legend-career-name">{{career.career_name}}</span>
                     </div>
                   </ul>
                </div>
                <div sk-legend-bubbles class="sk-legend-bubbles">
                </div>
           </div>
        </div>
    </div>
</section>



<!-- chart results --> 
<section class="sk-career-visualizer-container sk-fade" ng-class="{'sk-in': selectedCareersData.length}">
    <div sk-ep-chart selected-careers-data="selectedCareersData" class="sk-career-visualizer">
    </div>  
</section>
<!-- 